<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Heart Disease Attack</title>



  <!-- <link rel="stylesheet" href="/Users/sukuratsalam/Flask-Deployment/static/css/style1.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  
</head>

<body>
  <div class="login">
   <h1>Predicting the Heart Disease Status of Patient</h1>
 
      <!-- Main Input For Receiving Query to our ML -->
     <form action="{{ url_for('predict')}}"method="post">
       Enter the BMI of Patient:<input type="text" name="BMI" placeholder="Body Mass Index" required="required" />
     <br>
    Enter the Age Category:<input type="text" name="Age" placeholder="Click the next box for Category value" required="required" />
     <select >
      <option value="1">1 for 18-24</option>
                    <option value="2">2 for 25-30</option>
                    <option value="3">3 for 31-35</option>
                    <option value="4">4 for 36-40</option>
                    <option value="5">5 for 41-45</option>
                    <option value="6">6 for 46-50</option>
                    <option value="7">7 for 51-55</option>
                    <option value="8">8 for 56-60</option>
                    <option value="9">9 for 61-65</option>
                    <option value="10">10 for 66-70</option>
                    <option value="11">11 for 71-75</option>
                    <option value="12">12 for 76-80</option>
                    <option value="13">13 for 80 above</option>
    </select>    
     <br>
         Enter the patient Gender:<input type="text" name="Sex" placeholder="0 for Female and 1 for Male" required="required" />
     <br>
     Enter Patient Diabetes Status:<input type="text" name="Diabetes" placeholder="0 for No Diabetes, 1 for Pre-Diabetes, 2 for Diabetes" required="required" />
     <br>
     Has the patient had stroke before?<input type="text" name="Stroke" placeholder="0 for No and 1 Yes" required="required" />
     <br>
 
         <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
     </form>
 
    <br>
    <br>
    {{ prediction_text }}
 
  </div>
  <!-- <img src= "/Users/sukuratsalam/Downloads/Flask-Deployment/static/images/Original.svg" style="width: 400px;position: absolute;bottom: 10px;left: 10px;" alt="Company Logo"/> -->
  <img src= "{{ url_for('static', filename='images/heart.png') }}" style="width: 300px;height: 150px; position: absolute;bottom: 10px;right: 10px;" alt="Subject Logo"/>
 
 </body>
   
  
 
</html>
